<div class="container">
  <div class="row">
    <h1>ゲーム一覧</h1>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="katakana-links">
          <% %w[ア カ ガ サ ザ タ ダ ナ ハ バ パ マ ヤ ラ ワ].each do |kana| %>
            <%= link_to "#{kana}行", searches_path(kana: kana), class: "btn btn-primary m-1 w-25" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <%= form_with(url: searches_path, method: :get, local: true) do %>
          <div class="form-group">
            <%= label_tag :query, "タイトル検索" %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "タイトルかフリガナを入力してね" %>
          </div>
          <%= submit_tag "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">タイトル</th>
            <th scope="col">ハード</th>
            <th scope="col">内容</th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><%= link_to game.title, game_path(game) %></td>
              <td><%= game.headware.name %></td>
              <td><%= game.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>