<div class="container">
  <div class="row m-5">
    <h1>詳細画面</h1>
  </div>

  <div class="row m-5">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">タイトル</th>
          <td><%= @game.title %></td>
        </tr>

        <tr>
          <th scope="row">ハード</th>
          <td><%= @game.headware.name %></td>
        </tr>

        <tr>
          <th scope="row">内容</th>
          <td><%= @game.body %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row m-5">
    <div class="col-3">
      <%= link_to "編集", edit_admin_game_path(@game), class: 'btn btn-primary w-100' %>
    </div>
  </div>

  <div class="row m-5">
    <table class="table">
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.title %></td>
            <td><%= link_to "内容を見る", admin_game_group_path(group.game, group), class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>